@font-face
				{
				font-family: 'abugslife';
				src: url('../fonts/a_bug_s_life-webfont.eot')
				format('embedded-opentype'),

				url('../fonts/a_bug_s_life-webfont.woff')
				format('woff'),

				url('../fonts/a_bug_s_life-webfont.ttf')
				format('truetype'),

				url('../fonts/a_bug_s_life-webfont')
				format('svg');

				font-weight: normal;
				font-style: normal;
				}

