<div id="login">
	<div id="erreur">
	<h2 class="txterror"><?= $erreurlogin ?></h2></div>
</div>

<div id="form" class="inlogin">

	<form method="POST" action="index.php?<?= $encours[1];?>">
		<input class="inpname" required="required" type="text" name="login" autofocus placeholder="Login" />
		<input class="inppass" required="required" type="password" name="pass" class="pull-left" placeholder="Pass"/>
		<input class="inpbtn" style="margin-right:6px;" type="submit" value="Envoyer"/>
	</form>
		
		<a href="index.php?page=signup" placeholder="sign up"><input id="signupbtn" class="inpbtn" type="submit"></input></a>
		
</div>