<div class="row bgnav">

	<nav class="K_line" id"nav">

		<ul>
			<li> <a href="index.php?page=home">Home</a> </li>|
			<li> <a href="index.php?page=carte">Carte</a> </li>|
			<li> <a href="index.php?page=paiement">Paiement</a> </li>|
			<li> <a href="index.php?page=compte">Compte</a> </li>|
			<li> <a href="index.php?page=reservation">Reservation</a> </li>|
			<li> <a href="index.php?page=livre">Livre d'or</a> </li>|
			<li> <a href="index.php?page=coord">Infos pratiques</a> </li>
		</ul>

	</nav>

</div>