<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="fr">

	<head>

	<title>Bugg'z</title>

	
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<meta name="viewport" content="width=device-width">
	<!-- Stylesheets-->
	<link rel="stylesheet" type="text/css" href="sources/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="sources/css/fonts.css"/>
	<link rel="stylesheet" type="text/css" href="sources/css/css.css"/>
	<!-- Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,300|Lilita+One|Open+Sans:400,300,400italic' rel='stylesheet' type='text/css'>
		<!--
		font-family: 'Lilita One', 'cursive'; ex: <h1>
		font-family: 'Signika Negative', 'sans-serif'; ex: <h2> <h3>
		font-family: 'Open Sans', 'sans-serif'; ex: <p> <a>
		-->

	<title>
			"Bugg'z"
	</title>

	</head>

	<body>
		
		<?php require("app/header.php"); ?>
		<?php require("app/nav.php"); ?>
		<?php require("app/content.php"); ?>
		<?php require("app/footer.php"); ?>

	</body>

</html>
