
<div id="compte">

	<h1>Mon compte</h1>
<h1><?php echo $messagecompte ?></h1>
		<div id="profilaff">

			<h2>Mon profil</h2>

			

						<div id="adresseaff">
							<h3>Mon adresse de livraison :</h3>

							<p>
								<?= $prenom." ". $nom."<br/>". $adresse."<br/>". $codepostal." ". $ville  ?>
							</p>

						</div>

						<div id="infoaff">
							<h3>Mes informations :</h3>

							<p>
								mes points de fidelité : <?= $point  ?> <br>
								mes commandes precedentes : 
							</p>

						</div>
		</div>

</div>















