<h1>Formulaire d'inscription</h1>

<div id="container">

        <form class="FormInscr" action="index.php?page=signup" method="post" name="formInscription" autocomplete="on">

        <span style="color:red;"><?=$error?></span>

        <label for="login">Login<span class="required">*</span></label>
        <input type="text" name="login" id="login" required="required" placeholder="Votre login" autofocus/>
        <label for="nom">Nom<span class="required">*</span></label>
        <input type="text" name="nom" id="nom" required="required" placeholder="Votre nom"/>
        <label for="prenom">Prénom<span class="required">*</span></label>
        <input type="text" name="prenom" id="prenom" required="required" placeholder="Votre prénom"/>
        <label for="password">Password<span class="required">*</span></label>
        <input type="password" name="password" id="password" required="required" placeholder="Votre password"/>
        <label for="pass">Retype Password<span class="required">*</span></label>
        <input type="password" name="password_" placeholder="Retype Password"/>
        <label for="mail">Email<span class="required">*</span></label>
        <input type="email" name="mail" id="mail" required="required" placeholder="Votre Email"/>
        <label for="tel">Tél<span class="required">*</span></label>
        <input type="text" name="tel" id="tel" required="required" placeholder="Votre tel"/>
        <label for="adresse">Adresse</label>
        <input type="text" name="adresse" id="adresse" placeholder="Votre adresse"/>
        <label for="cp">Code postal</label>
        <input type="text" name="cp" id="cp" placeholder="Votre code postal"/>
        <label for="ville">Ville</label>
        <input type="text" name="ville" id="ville" placeholder="Votre ville"/>
        <label for="societe">Société</label>
        <input type="text" name="societe" id="societe" placeholder="Votre société"/>

    <p class="indication">Tous les champs avec une <span class="required">*</span> sont obligatoires</p>
        <label>&nbsp</label>
        <input class"inpbtn" type="submit" value="Envoyez"/>



    </form>


</div>
